<%- include('layout') %>


<div class="w-full flex flex-row gap-[50px] bg-greay">
    <div class="p-10 w-half bg-red-500">
        <p class="text-3xl">Result</p>
    </div>
    <div class="p-10 w-half bg-yellow">
        <p>res</p>
    </div>
</div>



<%- include('footer') %>